

<h1> Where shall we ship these scents </h1>
<%= render :partial => 'items/cart' %>
<%= simple_form_for(@order) do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :address %>
  <%= f.submit "Place Order" %>
<% end %>