
<h3>Nosy Parker</h3>
<%= simple_form_for @order do |f| %>
	<h4>Perfume choices (item index?)</h4>
	<% @items.each do |item| %>
	<% end %>
	<h4> Checkout </h4>
  <%= f.input :name, placeholder: 'name' %>	
  <%= f.input :email, placeholder: 'user@domain.com' %>
  <%= f.input :address, placeholder: 'address' %>
  <%= f.button :submit %>
<% end %>