<div id="container">
  <div id="content">
    <%= render :partial => 'cart' %>
    <div id="post" class="post transition-opacity opaque">

      <% for item in @items %>
          <%= link_to (image_tag item.image(:medium)), item %>
          <%= link_to (item.name), item %>
          <%= link_to "Get A Sample", line_items_path(:item_id => item), :method => :post, class: "btn" %>
          <br>
        <% end %>
     <%= render :partial => 'sample' %>
  </div>
  </div>
</div>