
<%  @item.name %>
<hr>
Item name:<%= @item.name %>
<br>
Item id: <%= @item.id %>
<br>
<%= image_tag @item.image %>

<p>
  <%= link_to "View All", items_path %> | 
  
  <% if admin_signed_in? %>
           <%= link_to "Edit Item", edit_item_path %> | 
  <% end %>
</p>